<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ezysoft</name>
	<displayName><![CDATA[ezySoft Bridge ]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Sync with ezySoft software]]></description>
	<author><![CDATA[ezySoft]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
